.courses-section {
    background-color: var(--background-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    color: var(--font-color);
}

.courses-section h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.courses-section h2{
    text-align: center;

}


.slider {
    overflow: hidden;
    height: 200px; 
    margin-bottom: 20px;
    position: relative;
}

.slider::before,
.slider::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    pointer-events: none;
}

.slider::before {
    left: 0;
    background: linear-gradient(to right, var(--background-color), transparent);
}

.slider::after {
    right: 0;
    background: linear-gradient(to left, var(--background-color), transparent);
}

.slide-track-data_analysis {
    display: flex;
    animation: scroll_data_analysis calc(2s * 38) linear infinite;
    width: calc(300px * 10);
}

.slide-track-data_science {
    display: flex;
    animation: scroll_data_science calc(2s * 40) linear infinite;
    width: calc(300px * 10);
}

.slide-track-ai_engineer {
    display: flex;
    animation: scroll_ai_engineer calc(2s * 25) linear infinite;
    width: calc(300px * 10); 
}

.slide-track-full_stack {
    display: flex;
    animation: scroll_full_stack calc(2s * 8) linear infinite;
    width: calc(300px * 10); 
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: transparent;
    width: 250px;
    height: 200px;
}

.slide img {
    width: 250px; 
    height: 200px;
    object-fit: contain;
    object-position: center;
    padding: 0;
    cursor: pointer;
}

@keyframes scroll_data_analysis {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 38 - (10px * 38))); }
}

@keyframes scroll_data_science {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 40 - (10px * 40))); }
}

@keyframes scroll_ai_engineer {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 25 - (10px * 25))); }
}

@keyframes scroll_full_stack {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 8 - (10px * 8))); }
}

.modal-course {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.01) !important;
    color: var(--font-color) !important;
    z-index: 1000;
}

.modal-course img {
    max-height: 80%;
    max-width: 80%;
    object-fit: contain;
}

.modal-course .close-button {
    position: absolute;
    top: 70px;
    right: 10px;
    border: none;
    font-size: 1.5em;
    color: var(--font-color);
}

@media screen and (max-width: 768px) {
    .courses-section {
        padding-left: 5%;
        padding-right: 5%;
    }
}